# Node
node_modules/

# Mac
.DS_Store

# Python
__pycache__/
*.pyc

# Environment
.env

# Vite
dist/
*.vite/

# Python virtual environment
venv/
backend/venv/

# Database
db.sqlite3
backend/db.sqlite3